@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared style */


.display-flex{
display: flex;
}
.dark-1{
  color: #131313;
}
.dark-2{
  color: #424242;
}
.dark-3{
  color: #727272;
}
.bold{
  font-weight: bold;
}
.semibold{
  font-weight: 600;
}
/* header style */
 .header{
  max-width: 1440px;
  background-color: #FF900E10;
 }
 .link-item{
  list-style-type: none;
 }
 .nav-anchor{
  text-decoration: none;
  font-size: 1.125rem;
 }

 .nav-brand{
  font-size: 2.8rem;
 }
 .navbar{
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0  auto;
 }
 .link-item{
  margin-right: 30px;
 }
 .banner{
  max-width: 1000px;
  margin: 0 auto;
 }

 .banner-content{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
 }

 .content-title{
  font-size: 3rem;
  margin-bottom: 20px;
 }

 .content-description{
  font-size: 1rem;
  line-height: 26px;
 }

 .btn-primary{
  width: 185px;
  height: 64px;
  font-size: 1.25rem;
  color: #FFFFFF;
  background-color: #FF900E;
  border-radius: 8px;
 }
 .banner-image img{
  width: 100%;
  border-radius: 8px;
  padding-bottom: 45px;
 }

 /* main style*/

 main{
  max-width: 1000px;
  margin: 0  auto;
 }

 /* Feature 4image style*/

 .feature4{
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  gap: 73px;
 }
 
 .team-image{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:20px;
 }

 .team-image img{
  max-width: 300px;
 }

 
 .feature-content-title{
  font-size: 2.8rem;
  margin-bottom: 24px;
 }
 
 .feature{
  color: #FF900E;
 }

 .feature-content-description{
  font-size: 1rem;
  line-height: 20px;
 }
 
 /* feature enjoy style */

 .feature-enjoy{
  height: 800px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  gap: 90px;
  /* background-color: #FF900E; */
 }

 .feature-enjoy-content, .feature-enjoy-image{
  width: calc((100% - 90px)/2);
  height: 100%;
 }
 .feature-enjoy-image img{
  width: 100%;
  height: 700px;
  margin-top: 60px;
 }

 .feature-enjoy-content-title{
  border-left: 5px solid #FF900E;
  font-size: 2.8rem;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  
 }
 .feature-enjoy-content-description{
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
 }

 .enjoy-item{
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .06);
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
 }
 .enjoy-item-title{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.12rem;
 }

 .enjoy-item-description{
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
 }

 .feature-enjoy .btn-primary{
  width: 300px;
  height: 150px;
  margin-top: -80px;
  margin-left: -50px;
  border: none;
  padding-top: 20px;
 }

 .btn-title{
  font-size: 4rem;
  line-height: 50px;
  color: #FFFFFF;
  
 }

 .btn-description{
  font-size: 1.56rem;
  font-weight: 500;
  line-height: 40px;
 }


 .hide{
  display: none;
 }
 /* responsive style*/

 @media screen and (max-width:576px) {
  .navbar{
    flex-direction: column;
  }

  .nav-links{
    justify-content: space-between;
  }
  .link-item{
    margin-right: 15px;
  }

  .feature4{
    flex-direction: column;
  }
  .team-image{
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
  }
  .feature-content{
    text-align: center;
  }
  
  .feature-enjoy{
    flex-direction: column;
    height: auto;
    gap:30px;
  
  }
  .feature-enjoy-content{
    width: auto;
  }
  .feature-enjoy-image{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature-enjoy-image img{
    margin-top: 0;
    width: 300px;
  }
  .feature-enjoy .btn-primary{
    margin: 20px 0 0;
  }
 }